<b>
  <p>Human Created</p>
</b>

<div class="container">
  <form [formGroup]="humanForm" (ngSubmit)="addNewHuman(humanForm.value)">
  <div class="form-group">
    <input type="text" class="form-control" value="Id" formControlName="Id"  placeholder="Enter the Id" [(ngModel)]="this.singleHuman.Id" name="Id">
    <span 
    *ngIf="!humanForm.get('Id').valid && humanForm.get('Id').touched"
    class="help-block">Please Enter a valid id </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="Name"  placeholder="Enter the name" [(ngModel)]="this.singleHuman.Name" name="Name">
    <span 
    *ngIf="!humanForm.get('Name').valid && humanForm.get('Name').touched"
    class="help-block">Please Enter a valid Name </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="Email"  placeholder="Enter the email" [(ngModel)]="this.singleHuman.Email" name="Email">
    <span 
    *ngIf="!humanForm.get('Email').valid && humanForm.get('Email').touched"
    class="help-block">Please Enter a valid Email </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-control"  formControlName="Gender" placeholder="Enter the gender" [(ngModel)]="this.singleHuman.Gender" name="Gender">
    <span 
    *ngIf="!humanForm.get('Gender').valid && humanForm.get('Gender').touched"
    class="help-block">Please Enter a valid Gender </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-control"  formControlName="Department" placeholder="Enter the department" [(ngModel)]="this.singleHuman.Department" name="Department">
    <span 
    *ngIf="!humanForm.get('Department').valid && humanForm.get('Department').touched"
    class="help-block">Please Enter a valid Department </span>
  </div>
  <div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="District"  placeholder="Enter the District" [(ngModel)]="this.singleHuman.District" name="District">
    <span 
    *ngIf="!humanForm.get('District').valid && humanForm.get('District').touched"
    class="help-block">Please Enter a valid District </span>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="BloodGroup"  placeholder="Enter the Blood Group" [(ngModel)]="this.singleHuman.BloodGroup" name="BloodGroup">
    <span 
    *ngIf="!humanForm.get('BloodGroup').valid && humanForm.get('BloodGroup').touched"
    class="help-block">Please Enter a valid BloodGroup </span>
  </div>
  <div class="form-group">
      <input type="text" class="form-control" formControlName="Hobby"  placeholder="Enter the Hobby" [(ngModel)]="this.singleHuman.Hobby" name="Hobby">
      <span 
      *ngIf="!humanForm.get('Hobby').valid && humanForm.get('Hobby').touched"
      class="help-block">Please Enter a valid Hobby </span>
    </div>
      <span 
    *ngIf="!humanForm.valid && humanForm.touched"
    class="help-block">Please Enter a valid Data </span>
      <!-- <button type="button" class="btn btn-primary" (click)= "createHuman(formHuman)">Create Human -->
      <button type="submit" class="btn btn-primary">Create Human </button>
  </div>
  </form>

  <h3 *ngIf="is_add">{{coment}}</h3>
</div>

<b>Human List</b>
<table border="1">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let h of humans">
      <td>{{h.Id}}</td>
      <td>{{h.Name}}</td>
      <td>{{h.Email}}</td>
      <td>{{h.Gender}}</td>
      <td>{{h.Department}}</td>
      <td><button class="btn btn-primary" (click)="edit(h)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="delete(h)">Delete</button></td>
      <td><button class="btn btn-primary"  (click)="details(h)">Details</button></td>
      <!-- <td><a [routerLink]="['/human-details']"> <button class="btn btn-info"> Details</button></a></td> -->
    </tr>
  </tbody>
</table>